.view{
	padding: 20px;
	box-sizing: border-box;
}
#send_mail_table{
	margin-bottom: 20px;
}
#send_mail_table img{
	display: block;
	height: 30px;
	margin: 0;
}
#send_mail_table a{
	font-size: 0;
	display: inline-block;
}