/* reset */

*{
    margin: 0;
    padding: 0;
}



/* main elements */

body{
    top:0;
    font: 16px/1.6em arial;
    position: absolute;
    width: 100%;
}
html, body{
    height: 100%;
}
h1{
    font-size: 40px;
    line-height: 1.6em;
}
h2{
    font-size: 30px;
    line-height: 1.5em;
}
p{
    margin-bottom: .8em;
}
table{
    min-width: 300px;
    width: 100%;
    border-collapse: collapse;
}
table td{
    padding: 1px 10px;
    border: 1px solid #000;
}



/* inputs and form */

input,
textarea,
select{
    font-size: 18px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input,
textarea{
    box-shadow: inset 0 2px 2px 0px rgba(0,0,0,.1);
}
input[name="day"]{
    max-width: 100px;
}
div.input{
    display: flex;
}
div.input img{
    height: 80px;
    margin-right: 5px;
    display: block;
}div.input img:last-child{
    margin-right: 0;
}
input:focus,
textarea:focus,
select:focus{
    border-color: #000;
    box-shadow: 0 0 0 1px #000;
}
input.error,
textarea.error,
select.error,
input[type="checkbox"].error + div.checkbox{
    box-shadow: 0 0 0 1px red;
    border-color: red;
    background: rgba(255,0,0,.05);
}
select{
    min-width: 100px;
    border:0;
    box-shadow: inset 0 0 0 1px #000;
}

label{
    position: relative;
    display: flex;
    margin: 0 -5px;
    margin-bottom: 5px;
}
label.d{
    margin-top: 2em;
}

label > * {
    margin: 0 5px;
}
label span{
    position: absolute;
    left: 0;
    top:-1.6em;
}
div.checkbox{
    width:25px;
    height: 25px;
    min-width: 18px;
    border: 1px solid #000;
    box-shadow: inset 0 0 0 13px #fff;
    background: #000;
    transition: all.2s ease;
}
label input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
}
label input[type="checkbox"]:checked + div.checkbox{
    box-shadow: inset 0 0 0 5px #fff;
}
.form_columns{
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}
.form_columns .column{
    width: 50%;
    margin: 0 10px;
}

.form_ok{
    text-align: center;
}
.form_ok h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 1em;
}
.form_ok p{
    font-size: 20px;
    margin-top: 40px;
}
.form_ok .center{
    width: 100%;
    height: 400px;
    top: 0; bottom: 0;
    position: absolute;
    margin: auto;
}



/* Page and screens */

#page{
    position: relative;
    height: 100%;
}
.view {
    display: none;
    z-index: 1;
    position: absolute;
    top:0;
    background: #fff;
    height: 100%;
    width: 100%;
}
.view.visible{
    display: block;
}
.view.form{
    padding: 20px;
    box-sizing:border-box;
}
.view.form input[type="text"],
.view.form textarea{
    width: 100%;
}



/* header */

header{
    position: fixed;
    display: flex;
    box-sizing:border-box;
    flex-direction: row;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 2;
    box-shadow: 0 4px 0 rgba(0,0,0,.05);
}
.logo{
    cursor: pointer;
}
.tagline{
    margin-right: 20px;
    margin-left: auto;
}
.back{
    height: 40px;
    width: 40px;
    background: #f0f;
    margin-right: 0px;
    border-radius: 30px;
    border:2px solid #000;
    background: url(../img/back_icon.png) no-repeat center;
    background-size: 60%;
    opacity: .5;
    cursor: pointer;
}
/* Images list */

#images_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}
#images_list li{
    width: calc(20% - 2px);
    margin: 1px;
    cursor: pointer;
    transition: all.2s ease;
}
#images_list li:hover,
#images_list li.select{
    box-shadow: inset 0 0 0 10px #000;
}
#images_list li.hidden{
    opacity: .4;
    transform: scale(.8);
}
#images_list li.delete{
    display: none;
}
#images_list li img{
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;
}



/* next button */
.btn_list{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 10%;
}
.next_btn{
    margin-left: 20px;
    font-size: 25px;
    background: #000;
    padding: .7em 1.2em;
    cursor: pointer;
    color: #fff;
}
.view:not(.form_print) .next_btn.disabled{
    background: #ccc !important;
    color: #eee !important;
}

.next_btn.hidden {
    display: none;
}

/* FORM PRINT */
.form_print label{
    display: none;
}
.form_print label[data-print]{
    display: flex;
}

/* local text */
.print-only{
    display: none;
}
.form_print .print-only{
    display: inline;
}
.form_print .sendMail-only{
    display: none;
}